{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Tarif Pengiriman</title>
{% endblock meta %}

{% block content %}
 <div class="flex flex-col justify-center items-center mt-10">
  <p class="text-gray-900 font-bold text-2xl py-5">Tambah Tarif Baru</p>
  <form method="POST" class="border-2 p-12 flex flex-col space-y-2 rounded-lg">
      {% csrf_token %}
      {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {%endif%}
    <label htmlFor="province">Provinsi</label>
    <input class="rounded" required placeholder="Provinsi" type='text' id="province" name="province"/>
    <label htmlFor="motorfee">Tarif Motor</label>
    <input class="rounded" required placeholder="Tarif motor" type='text' id="motorfee" name="motorfee"/>
    <label htmlFor="carfee">Tarif Mobil</label>
    <input class="rounded" required placeholder="Tarif mobil" type='text' id="carfee" name="carfee"/>
    <input type="hidden" id = "id_trf" name="id_trf" value="{{length}}">
    <button type = "submit"class="border-2 border-gray-900/50 rounded">Simpan</button> 
  </form>
 </div>
{% endblock content %}
