{% extends 'base.html' %}

{% block meta %}
<title>Tambah Makanan</title>
{% endblock meta %}

{% block content %}   

<style>

    ion-icon {
        color: white;
    }
</style>

<body>

    <div class="flex flex-col min-h-screen justify-center">
        <div class="flex justify-center">
            <div class="flex flex-col gap-2">
                <div class="font-extrabold text-center">
                    FORM BUAT MAKANAN
                </div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                        <div class="flex gap-10">
                            <div class="flex flex-col justify-around gap-2 w-full">
                                <div class="flex flex-col text-sm font-medium block justify-around">
                                    <p>Nama Makanan:</p>
                                    <input type="text" name="nama" id="nama" class="form-control rounded-lg text-black" required>
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <p>Deskripsi:</p>
                                    <input type="text" name="deskripsi" id="deskripsi" class="form-control rounded-lg text-black" required>
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <p>Stok:</p>
                                    <input type="text" name="stok" id="stok" class="form-control rounded-lg text-black" required>
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <p>Harga:</p>
                                    <input type="text" name="harga" id="harga" class="form-control rounded-lg text-black" required>
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    
                                    <label for="kategoriMakanan">Kategori Makanan:</label>
                                        
                                    <select name="kategoriMakanan" id="kategoriMakanan" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        <option value="Kuah">Kuah</option>
                                        <option value="Kering">Kering</option>
                                        <option value="Santan">Santan</option>
                                    </select>
                                    <!-- <button>+</button> -->
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <div>

                                        <label for="bahanMakanan">Bahan Makanan:</label>
                                        <button class="text-white bg-blue-700 hover:bg-blue-800 text-sm px-2 py-1 rounded-lg text-center">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </button>
                                    </div>
                                    <select name="bahanMakanan" id="bahanMakanan" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2">
                                        <option value="Daging">Daging</option>
                                        <option value="Ikan">Ikan</option>
                                    </select>
                                </div>

                                <div class="flex justify-center">
                                    <input type="submit" name="submit" value="SIMPAN" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"/> 
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

{% endblock content %}