{% extends 'base.html' %} {% block meta %}
<title>Detail Restoran</title>
{% endblock meta %} {% block content %}

<div class="flex justify-center items-center ">
    <div class="bg-red-200 w-fit rounded-lg mt-3">
        <div class="login w-[25rem] drop-shadow-2xl flex flex-col justify-center items-center bg-cream-tua p-10 rounded-xl lg:scale-120 md:scale-100 scale-85">
            <h1 class="text-xl font-bold mb-3 text-center">DETAIL RESTORAN: {{dataRestoran.0.0}} {{dataRestoran.0.1}}</h1>
            <div class="text-left">
                <h2>Nama restoran: {{dataRestoran.0.0}}</h2>
                <h2>Cabang: {{dataRestoran.0.1}}</h2>
                <h2>Nomor telepon: {{dataRestoran.0.3}}</h2>
                <h2>Jalan: {{dataRestoran.0.4}}</h2>
                <h2>Kecamatan: {{dataRestoran.0.5}}</h2>
                <h2>Kota: {{dataRestoran.0.6}}</h2>
                <h2>Provinsi: {{dataRestoran.0.7}}</h2>
                <h2>Rating: [{{dataRestoran.0.8}}]</h2>
                <h2>Kategori restoran: {{dataRestoran.0.11}}</h2>
                <h2>Jam operasional: [{{dataRestoran.0.14}}, {{dataRestoran.0.15}} - {{dataRestoran.0.16}}]</h2>
            </div>
            <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mt-2" onclick="location.href = '/trigger3/daftarresto'">Kembali</button>

        </div>
    </div>
</div>

{% endblock content %}
