{% extends 'base.html' %}

{% block meta %}
<title>Ubah Makanan</title>
{% endblock meta %}

{% block content %}   

<style>

    ion-icon {
        color: white;
    }

    /* colors: {
          'merah-muda':'#DD5353',
          'merah-tua':'#B73E3E',
          'cream-tua':'#DBC8AC',
          'cream-muda':'#EDDBC0',
        } */
</style>


<body>

    <div class="flex flex-col min-h-screen justify-center w-full">
        <div class="flex justify-center">
            <div class="flex flex-col gap-2">
                <div class="font-extrabold text-center px-5">
                    FORM UBAH MAKANAN
                </div>
            <div>
                <form action="" method="post">
                    {% csrf_token %}
                        <div class="flex gap-10">
                            <div class="flex flex-col justify-around gap-2 w-full">
                                <div class="flex flex-col text-sm font-medium block justify-around">
                                    <p>Nama Makanan:</p>
                                    <input type="text" name="nama" id="nama" class="form-control rounded-lg text-black w-full" placeholder="{{foodname}}" disabled>
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <p>Deskripsi:</p>
                                    <input type="text" name="deskripsi" id="deskripsi" class="form-control rounded-lg text-black" placeholder="{{description}}" required oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')" oninput="setCustomValidity('')">
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <p>Stok:</p>
                                    <input type="text" name="stok" id="stok" class="form-control rounded-lg text-black" placeholder="{{stock}}" required oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')" oninput="setCustomValidity('')">
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <p>Harga:</p>
                                    <input type="text" name="harga" id="harga" class="form-control rounded-lg text-black" placeholder="{{price}}" required oninvalid="this.setCustomValidity('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')" oninput="setCustomValidity('')">
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    
                                    <label for="kategoriMakanan">Kategori Makanan:</label>
                                        
                                    <select name="kategoriMakanan" id="kategoriMakanan" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        {% for kategori in kategoriMakanan %}
                                        <option value="{{kategori.0}}">{{kategori.0}}</option>
                                        {%endfor%}
                                    </select>
                                    <!-- <button>+</button> -->
                                </div>
                                <div class="flex flex-col text-sm font-medium block mb-2 justify-around">
                                    <div class="flex justify-between items-center">

                                        <label for="bahanMakanan">Bahan Makanan:</label>
                                        <a id="dropdown-icon" class="text-white bg-blue-700 hover:bg-blue-800 text-sm px-2 py-1 rounded-lg text-center">
                                            <ion-icon name="add-outline" ></ion-icon>
                                        </a>
                                    </div>
                                    <div>
                                        {% for bahanU in bahanUsed %}
                                        <div id="bahan-{{forloop.counter0}}" class="flex justify-between items-center">
                                            <p>Bahan Makanan: {{bahanU.0}}</p>
                                            <a id="deleteButton" href="javascript:remove({{ forloop.counter0 }}, '{{bahanU.0}}')" class="text-white bg-red-700 hover:bg-red-800 text-sm px-2 py-1 rounded-lg text-center">
                                                <ion-icon name="remove-circle-outline"></ion-icon>
                                            </a>
                                        </div>
                                        {% endfor %}
                                        <input type="hidden" id ="deleteBahan" name="deleteBahan" value="">
                                    </div>
                                    <div id="bahanForm">
                                        <div>
                                            <select name="select-0" id="select-0" id="bahanMakananDrop" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2">
                                                {% for bahan in bahanMakanan %}
                                                <option id="select-0" value="{{bahan.0}}">{{bahan.0}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                        <input type="hidden" id = "click" name="click" value="1">
                                    </div>
                                </div>

                                <div class="flex justify-center">
                                    <input type="submit" name="submit" value="SIMPAN" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"/> 
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('click').value = 1;
        function toggleDropdown() {
            document.getElementById('click').value =parseInt( document.getElementById('click').value) + 1;
            console.log(document.getElementById('click').value);
            var form = document.getElementById('bahanForm');
            var div = document.createElement('div');
            var input = document.createElement('select');

            input.id = `select-${document.getElementById('click').value - 1}`;
            input.name = `select-${document.getElementById('click').value - 1}`;
            input.classList.add("border");
            input.classList.add("border-gray-300");
            input.classList.add("rounded-lg");
            input.classList.add("text-sm");
            input.classList.add("block");
            input.classList.add("w-full");
            input.classList.add("p-2.5");
            input.classList.add("w-full");
            input.classList.add("mt-2");
            var bahanMakanan = JSON.parse('{{ jsonBahan|escapejs }}');
            // console.log(bahanMakanan);
            
            for (var i = 0; i<bahanMakanan.length; i++){
                var el = document.createElement("option");
                el.text = bahanMakanan[i][0];
                el.value = bahanMakanan[i][0];
                // console.log(el.id)
                input.add(el)
            } 
            div.appendChild(input);
            form.appendChild(div);
        }
        document.getElementById("dropdown-icon").addEventListener("click", toggleDropdown);

        
        document.getElementById('deleteBahan').value = "";
        function remove(index, bahan){
            var strAgg = "bahan-" + index;
            var removeEl = document.getElementById(strAgg);
            removeEl.remove();
            document.getElementById('deleteBahan').value = document.getElementById('deleteBahan').value + "," + bahan;
            console.log(document.getElementById('deleteBahan').value)
            console.log($('#deleteBahan').val());

        }

    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

{% endblock content %}