{% extends 'base.html' %} {% block meta %}
<title>Daftar Kategori Makanan</title>
{% endblock meta %} {% block content %}
<h1 class="font-bold text-2xl mb-3"> Kategori Makanan: </h1>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-black">
        <thead class="text-xs text-black uppercase bg-red-300">
            <tr>
                <th scope="col" class="py-3 px-6">
                    No
                </th>
                <th scope="col" class="py-3 px-6">
                    Nama Kategori Makanan
                </th>
                <th scope="col" class="py-3 px-6">
                    Aksi
                </th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6">
                    {{ forloop.counter }}
                </td>
                <td class="py-3 px-6">
                    {{ record.1 }}
                </td>
                <td class="py-3 px-6">
                    {% if record.2 == None %}
                    <a href="{% url 'trigger4:delete_kategori_makanan' record.0 %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Hapus</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}