{% extends 'base.html' %} {% block meta %}
<title>Pesanan Berlangsung</title>
{% endblock meta %} {% block content %}
<h1 class="font-bold text-2xl mb-3"> Pesanan Berlangsung: </h1>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-black">
        <thead class="text-xs text-black uppercase bg-red-300">
            <tr>
                <th scope="col" class="py-3 px-6">
                    No
                </th>
                <th scope="col" class="py-3 px-6">
                    Restoran
                </th>
                <th scope="col" class="py-3 px-6">
                    Waktu Pesanan Dibuat
                </th>
                <th scope="col" class="py-3 px-6">
                    Status Pesanan
                </th>
                <th scope="col" class="py-3 px-6">
                    Aksi
                </th>
            </tr>
        </thead>
        <tbody>
            {% for pesanan in pesanan_berlangsung %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6">
                    {{ forloop.counter }}
                </td>
                <td class="py-3 px-6">
                    {{pesanan.restoran}}
                </td>
                <td class="py-3 px-6">
                    {{ pesanan.waktu_pesanan_dibuat}}
                </td>
                <td class="py-3 px-6">
                    {{pesanan.status_pesanan}}
                </td>
                <td class="py-3 px-6">
                    <a href="" class="text-blue-500">Detail</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}