{% extends 'base.html' %} {% block meta %}
<title>Dashboard Pengguna</title>
{% endblock meta %} {% block content %}

<div class="flex justify-center items-center">
  <div class="bg-red-200 w-fit rounded-lg">
    <div
      class="login w-[25rem] drop-shadow-2xl flex flex-col justify-center items-center bg-cream-tua p-10 rounded-xl lg:scale-100 md:scale-90 scale-75"
    >
    <h1 class="text-3xl font-bold mb-2s">Dashboard Pengguna: [nama lengkap pengguna]</h1>
    <h2>Email: [teks]</h2>
    <h2>Password: [teks]</h2>
    <h2>Nama: [teks]</h2>
    <h2>Nomor Hp: [teks]</h2>
    <h2>NIK: [teks]</h2>
    <h2>Nama bank: [teks]</h2>
    <h2>Nomor rekening: [teks]</h2>

    {% if role == 'restoran' %}
    <h2>Nama restoran: [teks]</h2>
    <h2>Cabang: [teks]</h2>
    <h2>Nomor telepon: [teks]</h2>
    <h2>Jalan: [teks]</h2>
    <h2>Kecamatan: [teks]</h2>
    <h2>Kota: [teks]</h2>
    <h2>Provinsi: [teks]</h2>
    <h2>Rating: [teks, beri 0 jika belum ada]</h2>
    <h2>Kategori restoran: [teks]</h2>
    <h2>Jam operasional: [teks dalam bentuk list]</h2>
    {% endif %}

    {% if role == 'kurir' %}
    <h2>Plat Nomor Kendaraan: [teks]</h2>
    <h2>Nomor SIM: [teks]</h2>
    <h2>Jenis kendaraan: [teks]</h2>
    <h2>Merk kendaraan: [teks]</h2>
    {% endif %}

    {% if role == 'pelanggan' %}
    <h2>Tanggal lahir: [teks]</h2>
    <h2>Jenis kelamin: [teks]</h2>
    {% endif %}



      
    </div>
  </div>
</div>

{% endblock content %}
