{% extends 'base.html' %}

{% block meta %}
<title>Buat Bahan Makanan</title>
{% endblock meta %}

{% block content %}   

<div class="flex flex-col h-screen justify-center">
    <div class="flex justify-center">
        <div class="flex flex-col gap-2">
            <div class="font-extrabold text-center">
                FORM BUAT BAHAN MAKANAN
            </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                    <div class="flex gap-10">
                        <div class="flex flex-col justify-around gap-2 w-full">
                            <div class="flex flex-col text-sm font-medium block justify-around">
                                <p>Bahan Makanan:</p>
                                <input type="text" name="bahan" id="bahan" class="form-control rounded-lg text-black" placeholder="Beras">
                            </div>
                            <div class="flex justify-center">
                                <!-- <button type="submit" name="submit" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" onclick="location.href = '/trigger3/daftartarif'">SIMPAN</button> -->
                                <input type="submit"  value="SIMPAN" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> 
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}