{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block meta %}
<title>Daftar Kategori Restoran</title>
{% endblock meta %}

{% block content %}  

<div class="flex justify-center items-center">
    <div class=" w-fit rounded-lg">
        <div class="login w-[25rem] drop-shadow-2xl flex flex-col justify-center p-4 items-center rounded-xl lg:scale-100 md:scale-90 scale-75">
            <h1 class="text-xl font-bold mb-3">Daftar Kategori Restoran</h1>
        </div>
    </div>
</div>        

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table class="min-w-full text-sm text-left text-black">
                    <thead class="text-xs text-black uppercase bg-red-300">            
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                No
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Kategori Restoran
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                Aksi
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for iter in list_kategori_resto %}
                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                {{ forloop.counter }}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                {{iter[1]}}
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                <div>
                                    <a href="hapus-kategori/{{iter.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Hapus</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 