{% extends 'base.html' %} {% block meta %}
<title>Detail Promo</title>
{% endblock meta %} {% block content %}
<div class="m-20">
    {% if role == 'admin' %}
    <h1 class="font-bold text-2xl mb-3">Daftar Promo:</h1>
    {% else %}
    <h1 class="font-bold text-2xl mb-3">Daftar Promo Tersedia:</h1>
    {% endif %}
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-black">
            <thead class="text-xs text-black uppercase bg-red-300">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        No
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nama Promosi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Jenis Promosi
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Aksi
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for record in records_promo %}
                <tr class="bg-white border-b">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                        {{record.4}}
                    </th>
                    <td class="py-4 px-6">
                       {{record.1}}
                    </td>
                    <td class="py-4 px-6">
                        {{record.3}}
                    </td>
                    <td class="py-4 px-6">
                        <div>
                            <a href="{% url 'trigger_6:show_detail_promo' record.0 %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Detail</a>
                        </div>
                        {% if role == 'admin' %}
                        <div>
                            <a href="{% url 'trigger_6:show_ubah_promo' record.3 record.0 %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ubah</a>
                        </div>
                        {% if record.5 == 0 %}
                        <div>
                            <a href="{% url 'trigger_6:delete_promo' record.0 %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Hapus</a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}