{% extends 'base.html' %} {% block meta %}
<title>Detail Promo Restoran</title>
{% endblock meta %} {% block content %}
<div class="border-black m-20">
    <div class="flex justify-center items-center p-2 bg-red-300 rounded-t-lg mb-3">
        <h1 class="font-bold text-xl">Detail Promo</h1>
    </div>

    <div class="mb-4">
        <p>Nama Promosi: {{record_promo.1}}</p>
        <p>Jenis Promosi: {{record_promo.8}}</p>
        <p>Diskon: {{record_promo.2}}%</p>
        <p>Tanggal Mulai: {{record_promo.6}}</p>
        <p>Tanggal Berakhir: {{record_promo.7}}</p>
    </div>

    <div class="flex justify-center items-center my-5">
        <a href="{% url 'trigger_6:show_form_ubah_promo_restoran' id %}">
            <button class="bg-red-300 w-fit text-black p-2 font-bold rounded-lg m-2">
                Ubah
            </button>
        </a>
        <a href="{% url 'trigger_6:delete_promo_restoran' rname rbranch id %}">
            <button class="bg-red-300 w-fit text-black p-2 font-bold rounded-lg m-2">
                Hapus
            </button>
        </a>
    </div>
</div>
{% endblock content %}