{% extends 'base.html' %} {% block meta %}
<title>Riwayat</title>
{% endblock meta %} {% block content %}
<style>
    li {
    list-style-type: circle;
 }
</style>
<div class="border-black m-20">
    <div class="flex justify-center items-center p-2 bg-red-300 rounded-t-lg mb-3">
        <h1 class="font-bold text-xl">Detail Pesanan</h1>
    </div>
    <div class="mb-4">
        <p>Waktu Pemesanan: 2022-11-04 11:30>05</p>
    </div>

    <div class="mb-4">
        <p>Nama Pelanggan: Mikayla Putri</p>
        <p>Jalan: Jalan Bahagia nomor 72</p>
        <p>Kecamatan: Cinere</p>
        <p>Kota: Depok</p>
        <p>Provinsi: Jawa Barat</p>
    </div>

    <div class="mb-4">
        <p>Restoran: Warung Mantap Depok</p>
        <p>Jalan: Jalan Bahagia nomor 72</p>
        <p>Kecamatan: Cinere</p>
        <p>Kota: Depok</p>
        <p>Provinsi: Jawa Barat</p>
    </div>

    <div class="mb-4">
        <p>Makanan yang dipesan:</p>
        <ul class="ml-10">
            <li>
                Ayam goreng (1) - [paha atas]
            </li>
            <li>
                Ice Cream (2)
            </li>
        </ul>
        <p>Total Harga Makanan: 11000</p>
        <p>Total Diskon: 0</p>
        <p>Biaya Pengantaran: 4000</p>
        <p>Total Biaya: 15000</p>
        <p>Jenis Pembayaran: RestoPay</p>
    </div>

    <div class="mb-4">
        <p>Status Pembayaran: Berhasil</p>
        <p>Status Pesanan: Pesanan Diantar</p>
    </div>

    <div class="mb-4">
        <p>Kurir: Doni Suryana</p>
        <p>Plat Kendaraan: B 0001 KNN</p>
        <p>Jenis Kendaraan: Motor</p>
        <p>Merk Kendaraan: Honda Vario</p>
    </div>

    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-4">
        <table class="w-full text-sm text-left text-black">
            <thead class="text-xs text-black uppercase bg-red-300">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Status
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Timestamp
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                        Menunggu Konfirmasi Restoran
                    </th>
                    <td class="py-4 px-6">
                        11:30:05
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-center items-center my-5">
        <a href="{% url 'trigger_6:show_riwayat' %}">
            <button class="bg-red-300 w-fit text-black p-2 font-bold rounded-lg ">
                Kembali
            </button>
        </a>
    </div>
</div>
{% endblock content %}