{% extends 'base.html' %} {% block meta %}
<title>Riwayat</title>
{% endblock meta %} {% block content %}
<div class="flex flex-col h-screen justify-center">
    <div class="flex justify-center">
        <div class="flex flex-col gap-2">
            <div class="font-extrabold text-center">
                FORM PROMO HARI SPESIAL
            </div>
            <h1 class="text-red-500 font-bold my-2">{{message}}</h1>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                    <div class="flex gap-10">
                        <div class="flex flex-col justify-around gap-2 w-full">
                            <div class="flex flex-col text-sm font-medium justify-around">
                                <p>Nama Promo:</p>
                                <input type="text" name="name" id="name" class="form-control rounded-lg text-black">
                            </div>
                            <div class="flex flex-col text-sm font-medium mb-2 justify-around">
                                <p>Diskon:</p>
                                <input type="text" name="discount" id="discount" class="form-control rounded-lg text-black">
                            </div>
                            <div class="flex flex-col text-sm font-medium mb-2 justify-around">
                                <p>Tanggal Berlangsung:</p>
                                <input type="date" name="date" id="date" class="form-control rounded-lg text-black">
                            </div>
                            <div class="flex justify-center">
                                <input type="submit" name="submit" value="SIMPAN" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"/> 
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}